%blockchain
  .blocks
    %h1 Blockchain
    .block{ each: "{ block in blocks }" }
      %h5
        Block # { block.number }
        %span - hash: { block.hash }
      %p
        %strong Mined by:
        { block.miner }
      %p
        %strong Timestamp:
        { new Date(block.timestamp*1000).toDateString() } - { new Date(block.timestamp*1000).toTimeString() }
      %h5 Transactions:
      .tx{ each: "{ tx in block.transactions }" }
        %p
          %strong Hash:
          { tx.hash }
        %p
          %strong From:
          { tx.from }
        %p
          %strong To:
          { tx.to }

        %p
          %strong Smart Contract: { tx.method.contract } - Method: { tx.method.name }

        %h5
          Values:
          %val{ each: "{ name, value in tx.method.values }" }

        .s20

      .s50


  :css
    .block span {
      font-size: 0.8em;
    }
    .tx {
      padding-left: 30px;
    }

    .block .tx {
    }

    .block p {
      margin-bottom: 10px;
    }

  :coffee


    @blocks = []

    API.blocksLog()
      .catch (err) ->
        c.error err
      .then (log) =>
        @blocks = log
        @update()


%val
  %span
    %strong { s.ltrim(name, "_") }:
    %raw{ content: "{ autolink(tx.method.contract, name, value) }, " }

  :coffee
    @genLink = (contract, value) ->
      @innerHTML = "<a href='/#/\#{contract}/\#{value}'>\#{value}</a>"

    @genLinkAssoc = (name, value) ->
      name = s.ltrim name, "_"
      name = s.rtrim name, "Id"
      section = "\#{name}s"
      @innerHTML = "<a href='/#/\#{section}/\#{value}'>\#{name}[ \#{value} ]</a>"

    @autolink = (contract, name, value) ->
      contract = contract.toLowerCase()
      switch name
        when "_publicKey"
          @genLink contract, value
        when "_userId", "_orgId"
          @genLinkAssoc name, value
        else
          value


-# TODO: globalize and reuse RAW - powerful tag
%raw
  %span
  :coffee
    @updateContent = ->
      @root.innerHTML = opts.content

    @on 'update', ->
      @updateContent()

    @updateContent()
